/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin:0 auto;
	text-align: center;
	min-width: 1020px;
	min-height: 1006px;
}
.header-container {
	position: relative;
	padding-top:25px;
	height:220px;
	background-color:rgba(192,192,192,0.5);
}
#header {
	font-size: 80px;
	color: #CCFFFF;
	font-family:'Qwigley', cursive;
}
 span {
 	vertical-align: middle;
 	line-height: normal;
 }
p {
	font-family:'Yanone Kaffeesatz', sans-serif;
	font-size:1em;
	line-height:1.5em;
}
form, .iconButtons {
	position: relative;
	display: inline-block;
	margin: 5px 50px 5px 50px;
	vertical-align: middle;
}

/* the note about not including the # symbol*/
form > p {
	font-size: 0.9em;
	width:300px;
	height:10px;
}
.button {
	margin-top:20px;
}
i {
	font-size: 4em;
	padding-bottom:3px;
}
.iconButtons {
	border:none;
	background-color: transparent;
	outline: 0;
}
.createAlbum, .directions {
	position:absolute;
	text-align: center;
	margin:0 auto;
	top:200px;
	display: none;
	height: 100%;
	width:100%;
	min-width:1020px;
	background-color: #CCFFFF;
	padding-top: 25px;
}
h1 {
	font-family:'Qwigley', cursive;
	font-size: 40px;
	margin-bottom: 0;
}
.siteName {
	font-family:'Qwigley', cursive;
	font-size: 1.5em;
}
.createAlbum p, .directions p {
	width:350px;
	margin:0 auto;
	text-align: center;
	}
input {
	width:300px;
}
.button {
	width:auto;
}
/* class to toggle icon size for "create and album" & "instructions"*/
.bigger {
	font-size: 3.5em;
	color:black;
}



.gallery {
	padding:10px 10px;
 	background-color:gray;
}
 .gallery-wrapper {
 	width:1000px;
 	margin:0 auto;

 }
.grouped_elements {
	position: relative;
	display:inline-block;
	width:170px;
	height: 170px;
	margin:1%;
	border-radius:5px;
	box-shadow: 5px 5px 5px #000000;
}
img {
 	margin:0 auto;
 	width:170px;
 	height:170px;
 }
.caption {
	position: absolute;
	bottom:5px;
	text-align:center;
	color:white;
	max-height:50px;
	width:100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	box-sizing:border-box;
	text-shadow:#000000 0 0 1px;
}
